@model CareUS1_1.Models.Contato

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contato</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fkIdCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fkIdCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomeContato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomeContato)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GuidContato">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
